nav {
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}
nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.dark_blue{
  background-color: #2A457A;
}
html, body { height:100%; }
#map {
  height: 100%;
  z-index: 0;
  /*position:absolute;*/
}
#menu{
  /*position:relative;*/
  z-index:1;
  width:100px;
}
