#nav {
  position: absolute;
  z-index: 99;
  width: 340px;
  max-width: 80vw;
  height: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  right:0px;
  overflow: hidden;
  -webkit-transform: translate(400px, 0);
  transform: translate(340px, 0);
  transition: transform 0.4s ease;
}
#nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
html, body { height:100%; }
#map {
  height: 100%;
  z-index: 0;
}

#mapContainer{
  position: relative;
  height:100%;
  overflow:hidden;
}
.jumbotron h1{
    font-size: 30px;
    text-align:center;
}
.jumbotron{
  padding-top: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius:5px;
}
.col-md-12{
  padding:0px;
}
.input-group{
  margin-bottom: 10px;
}

#hamburger{
  width:48px;
  height: 44px;
  margin:10px;
  right: 0px;
  z-index:2;
  background-color: #fff;
  position:absolute;
  border:2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

#hamburger_icon{
  width:44px;
  height:40px;
}

.row{
  margin-left: 2px;
  margin-right: 2px;
}

#slider-form{
  padding:0px 2px 0px;
  height:0px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  overflow: hidden;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height, .5s ease;
}
#slider-form.open{
  height:180px;
  padding-top:5px;
}

#slider-form.open2{
  height:100%;
  padding-top:5px;
}

.input-group-addon {
    min-width:70px;// if you want width please write here //
}

.alert{
  z-index:1;
  position: absolute;
  text-align: center;
  visibility: hidden;
}

.alert.show

.alert.fadeout{
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  transition-delay: 2.5s;
}

.yelpHeader{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.yelpImg{
  padding:0px;
}

.yelpAddress{
  text-align: left;
}

.btn{
      padding: 6px 6px;
}

.col-md-10{
  padding-right: 10px;
  padding-left: 10px;
}

.yelpResults{
  height:285px;
  overflow-x:hidden;
  overflow-y: scroll;
}

.btn-group-vertical{
  display:block;
}
