#nav {
  position: absolute;
  z-index: 99;
  width: 340px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  right:0px;
  -webkit-transform: translate(400px, 0);
  transform: translate(400px, 0);
  transition: transform 0.3s ease;
}
#nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.dark_blue{
  background-color: #2A457A;
}
html, body { height:100%; }
#map {
  height: 100%;
  z-index: 0;
  /*position:absolute;*/
}
#menu{
  /*position:relative;*/
  z-index:1;
  width:100px;
}
#mapContainer{
  position: relative;
  height:100%;
}
